- format = '%m/%d'

%h2 Terminology
%ul
  %li Points: Abstract units of time, risk, uncertainty; complex things have high point values
  %li Velocity: How many points are completed per iteration, on average
  %li Story: A small feature, usually something that takes less than a day; estimated in terms of points
  %li Iteration: Unit of time used for project management; one week

%h2 URLs
%ul
  %li Website: <a href="http://pantheon.kibiz0r.com">http://pantheon.kibiz0r.com</a>
  %li Pivotal Tracker: <a href="http://www.pivotaltracker.com/projects/116948">http://www.pivotaltracker.com/projects/116948</a>
  %li Github: <a href="http://github.com/kibiz0r/Pantheon">http://github.com/kibiz0r/Pantheon</a>

%h1= "Iteration #{iteration}"

= overview

%h2 The Metrics
%ul
  %li= "Velocity: #{velocity}"
  %li= "Points Completed This Iteration: #{iteration_points_complete}"
  %li= "Points Defined This Iteration: #{iteration_points_defined}"
  %li= "Total Points Completed: #{total_points_complete}"
  %li= "Total Points Defined: #{total_points_defined}"

%h1= "Iteration #{iteration}: #{(start_date + iteration.weeks).strftime format} - #{(end_date + iteration.weeks).strftime format}"
%ul
  - expected_stories.each do |story|
    %li= "#{story.title} (#{story.points} points, #{story.status})"

%h1= "Iteration #{iteration + 1}: #{(start_date + (iteration + 1).weeks).strftime format} - #{(end_date + (iteration + 1).weeks).strftime format}"
%ul
  - next_stories.each do |story|
    %li= "#{story.title} (#{story.points} points)"

%h1 New Stories
%ul
  - new_stories.each do |story|
    %li= "#{story.title} (#{story.points} points, planned for iteration #{story.iteration})"
